@use './base/reset';
@use './base/variables';
@use './base/globals';

// Если использовать import, то после use
@import url('./base/_mixins.scss');

* {
	box-sizing: border-box;
}

body {
	background-color: #111;
	color: #fff;
	font-family: sans-serif;
	margin: 30px 40px;
	padding: 0;
	display: flex;
	justify-content: flex-end;
}

h1 {
	margin-top: 0;
	font-size: 22px;
}

h2 {
	margin-top: 0;
	font-size: 20px;
}

h3 {
	margin-top: 0;
	font-size: 18px;
}

h4 {
	margin-top: 0;
	font-size: 16px;
}

h5 {
	margin-top: 0;
	font-size: 14px;
}

h6 {
	margin-top: 0;
	font-size: 12px;
}

code {
	font-size: 1.2em;
}

ul {
	padding-inline-start: 20px;
}

* {
	box-sizing: border-box;
}

table {
	z-index: 9;
	background-color: #222;
	min-width: 300px;
	th,
	td {
		padding: 5px;
		text-align: left;
		&:only-child {
			text-align: center;
			background-color: #000;
		}
	}
}

label {
	display: block;
	margin: 10px 0;
}

img {
	display: block;
}

#root {
	width: 100%;
	max-width: 600px;
}

section {
	outline: 1px dashed rgba(255,255,255,.25);
}

.hover,
.highlighted {
	background-color: #333;
}

img,
video {
	max-width: 300px;
}



#root > hr {
	margin: 30px 0;
	height: 5px;
	background-color: red;
	border: none;
}

button {
	padding: 2px 7px;
	margin: 3px 3px 3px 0;

	+ img,
	+ video {
		display: block;
		margin-top: 5px;
	}
}